@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');



body {
    margin: 0;
    font-family: arial,sans-serif;
    font-size: 80%;
}

.header-nav a {
    margin: 5px;
    text-decoration: none;
    color:rgb(63, 61, 61);
    font-size: 0.9em;
}

a:hover {
    text-decoration: underline;

}
input[type="text"]:focus-visible {
    border: none !important;
    outline: none;
}
nav {
    display: flex;
    justify-content: space-between;

}

.header-nav {
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-right: 20px;
}

ul img {
    padding: 0.3em;
    margin-left: 4px;
    height: 25px;
}

.header-img:hover{
    box-shadow: 0 0 10px 0 rgb(181, 176, 176);
    border-radius: 20px;
    cursor:pointer;
    padding: -10;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 21vh;
    row-gap: 15px;

}


.google-img{
    height:100px;

}

.input-container {
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 38px;
    border: 1px solid rgb(216, 214, 214)
}

.input-container {
    box-shadow: 0;
    border-radius: 15px;
    padding: 3px;
}



section div input {
    width:100%;
    border:none;
}
section div input:hover {
   text-decoration: none;

}
.input-container:hover{
    box-shadow: 0 0 10px 0 rgb(167, 164, 164);
}

button{
    background-color: rgb(236, 234, 234);
    border-radius: 5px;
    border:none;
    height: 30px;
    padding: 0 20px;
    margin:20px 4px;
}

button:hover{
    cursor:pointer;
    box-shadow: 0 0 10px 0 rgb(181, 176, 176) ;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-container {
    display: flex;
    flex-direction: column;
    background-color:rgb(245, 245, 245)

}

.country {
    padding-left: 35px;
    border-bottom: 1px solid rgb(154, 151, 151);
    color:rgb(114, 114, 114);
    font-size: 0.86em;
}


.footer-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -15px;
    margin-right: 13px;
}

.footer-nav ul a {
    color:black;
    text-decoration: none;
    padding: 10px;
    color:rgb(114, 114, 114);
    font-size: 0.86em;
}

.footer-nav ul a:hover{
    text-decoration: underline;
}


/* Smartphones (portrait and landscape) */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

    .mustContainTheForce {
        margin: left
    }

}



/* iPads (landscape) */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

  .mustContainTheForce {
    margin-left: 12vw;
    margin-right: 5vw;
}
}


/* Desktops and laptops */
@media only screen
and (min-width : 1224px) {

    .mustContainTheForce {
        margin-left: 10vw;
    }

}

/* Large screens */
@media only screen
and (min-width : 1824px) {

    .mustContainTheForce {
        margin-left: 18vw;
    }

}
